In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Apucarana,BR,2022-03-23 01:31:34,-23.5508,-51.4608,71.73,85,0,10.13
1,1,Yellowknife,CA,2022-03-23 01:31:34,62.4560,-114.3525,13.41,65,100,12.66
2,2,Demba,CD,2022-03-23 01:31:35,-5.5100,22.2667,66.16,94,100,1.52
3,3,Hilo,US,2022-03-23 01:27:12,19.7297,-155.0900,80.33,72,40,6.91
4,4,Hermanus,ZA,2022-03-23 01:31:35,-34.4187,19.2345,71.80,88,100,12.66

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Hilo,US,2022-03-23 01:27:12,19.7297,-155.0900,80.33,72,40,6.91
5,5,Ndele,CF,2022-03-23 01:31:36,8.4109,20.6473,77.68,38,100,6.73
8,8,Galesong,ID,2022-03-23 01:31:37,-5.3166,119.3661,80.62,73,100,4.29
11,11,Vaini,TO,2022-03-23 01:31:38,-21.2000,-175.2000,84.36,84,100,6.91
16,16,Rikitea,PF,2022-03-23 01:31:40,-23.1203,-134.9692,79.34,72,12,10.78
17,17,Mahebourg,MU,2022-03-23 01:31:41,-20.4081,57.7000,79.09,94,75,8.05
18,18,Ewa Beach,US,2022-03-23 01:31:41,21.3156,-158.0072,80.55,61,75,17.27
21,21,Zamboanguita,PH,2022-03-23 01:31:42,9.1025,123.1996,83.73,72,100,12.41
22,22,Tangkak,MY,2022-03-23 01:31:43,2.2673,102.5453,82.27,69,55,2.57
36,36,Kilindoni,TZ,2022-03-23 01:31:47,-7.9139,39.6668,80.55,81,80,11.39

In [13]:
preferred_cities_df.count()

City_ID       143
City          143
Country       143
Date          143
Lat           143
Lng           143
Max Temp      143
Humidity      143
Cloudiness    143
Wind Speed    143
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
3           Hilo      US     80.33  19.7297 -155.0900
5          Ndele      CF     77.68   8.4109   20.6473
8       Galesong      ID     80.62  -5.3166  119.3661
11         Vaini      TO     84.36 -21.2000 -175.2000
16       Rikitea      PF     79.34 -23.1203 -134.9692
17     Mahebourg      MU     79.09 -20.4081   57.7000
18     Ewa Beach      US     80.55  21.3156 -158.0072
21  Zamboanguita      PH     83.73   9.1025  123.1996
22       Tangkak      MY     82.27   2.2673  102.5453
36     Kilindoni      TZ     80.55  -7.9139   39.6668

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try: 
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Hilo,US,80.33,19.7297,-155.0900,Hilo Hawaiian Hotel
5,Ndele,CF,77.68,8.4109,20.6473,
8,Galesong,ID,80.62,-5.3166,119.3661,Sapriadi Appy
11,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
16,Rikitea,PF,79.34,-23.1203,-134.9692,People ThankYou
17,Mahebourg,MU,79.09,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
18,Ewa Beach,US,80.55,21.3156,-158.0072,Base Lodging
21,Zamboanguita,PH,83.73,9.1025,123.1996,Thalatta Dive Resort
22,Tangkak,MY,82.27,2.2673,102.5453,Lakeside Village Homestay 水乡民宿
36,Kilindoni,TZ,80.55,-7.9139,39.6668,Bustani B&B

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))