## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Pevek,RU,2022-04-28 23:14:10,69.7008,170.3133,24.76,98,100,7.76,overcast clouds
1,1,Bredasdorp,ZA,2022-04-28 23:14:10,-34.5322,20.0403,56.61,94,64,4.29,broken clouds
2,2,Rikitea,PF,2022-04-28 23:14:11,-23.1203,-134.9692,77.23,64,25,18.48,scattered clouds
3,3,Busselton,AU,2022-04-28 23:14:11,-33.6500,115.3333,53.98,80,33,5.61,scattered clouds
4,4,Aklavik,CA,2022-04-28 23:14:12,68.2191,-135.0107,23.58,80,100,9.55,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
708,708,Los Andes,CL,2022-04-28 23:33:40,-32.8337,-70.5983,59.02,28,0,2.75,clear sky
709,709,Tirumullaivasal,IN,2022-04-28 23:33:40,11.2333,79.8333,82.81,82,39,6.49,scattered clouds
710,710,Kochki,RU,2022-04-28 23:33:41,54.3358,80.4806,57.33,58,100,11.95,overcast clouds
711,711,Robertsport,LR,2022-04-28 23:33:41,6.7533,-11.3686,78.89,83,81,12.39,moderate rain
712,712,Lake Havasu City,US,2022-04-28 23:31:18,34.4839,-114.3224,90.21,10,0,17.27,clear sky

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
2,2,Rikitea,PF,2022-04-28 23:14:11,-23.1203,-134.9692,77.23,64,25,18.48,scattered clouds
5,5,Saint-Philippe,RE,2022-04-28 23:14:12,-21.3585,55.7679,74.79,81,28,8.95,scattered clouds
20,20,Avarua,CK,2022-04-28 23:14:17,-21.2078,-159.7750,82.45,74,20,17.27,few clouds
22,22,Bilaspur,IN,2022-04-28 23:14:18,22.0833,82.1500,82.76,16,32,4.45,scattered clouds
32,32,Raub,MY,2022-04-28 23:14:22,3.7899,101.8570,74.16,96,40,1.72,scattered clouds
...,...,...,...,...,...,...,...,...,...,...,...
705,705,Sur,OM,2022-04-28 23:33:39,22.5667,59.5289,87.26,43,80,7.63,broken clouds
706,706,Tual,ID,2022-04-28 23:33:39,-5.6667,132.7500,85.03,68,97,12.39,overcast clouds
709,709,Tirumullaivasal,IN,2022-04-28 23:33:40,11.2333,79.8333,82.81,82,39,6.49,scattered clouds
711,711,Robertsport,LR,2022-04-28 23:33:41,6.7533,-11.3686,78.89,83,81,12.39,moderate rain
712,712,Lake Havasu City,US,2022-04-28 23:31:18,34.4839,-114.3224,90.21,10,0,17.27,clear sky

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        293
City           293
Country        293
Date           293
Lat            293
Lng            293
Max Temp       293
Humidity       293
Cloudiness     293
Wind Speed     293
Description    293
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
# There are no empty rows

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng","Description"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Description,Hotel Name
2,Rikitea,PF,77.23,-23.1203,-134.9692,scattered clouds,
5,Saint-Philippe,RE,74.79,-21.3585,55.7679,scattered clouds,
20,Avarua,CK,82.45,-21.2078,-159.7750,few clouds,
22,Bilaspur,IN,82.76,22.0833,82.1500,scattered clouds,
32,Raub,MY,74.16,3.7899,101.8570,scattered clouds,
36,Butaritari,KI,81.90,3.0707,172.7902,overcast clouds,
37,Kapaa,US,82.38,22.0752,-159.3190,light rain,
39,Avera,US,76.55,33.1940,-82.5271,clear sky,
42,Vao,NC,73.45,-22.6667,167.4833,overcast clouds,
43,Gat,IL,70.39,31.6100,34.7642,clear sky,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat=row["Lat"]
    lng=row["Lng"]
    params["location"]=f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try: 
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
# 7. Drop the rows where there is no Hotel Name.
# There is a name for each Hotel 
hotel_df.count()

City           293
Country        293
Max Temp       293
Lat            293
Lng            293
Description    293
Hotel Name     293
dtype: int64

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_search/Vacation_Search.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
description = hotel_df["Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))